:root {
    --color-prime: #FFFFFF;
    /* --color-prime-2: #C4C4C4; */
    --color-secon: rgb(248, 249, 250);
    --color-secon-2: #C4C4C4;
    --color-accent-1: #69D0D3;
    --color-accent-2: #283F6A;
    --color-accent-3: #0C0C0C; 
}


/* === App === */

.App {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-prime);
    color: var(--color-accent-3);
}

body {
    padding-top: 7.829rem;
}

@media (max-width: 768px) {
    body {
        padding-top: 5.829rem;
    }
}

html {
    /* Fluid typography: font size scales based on viewport width */
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem) !important;
}

/* === Global Button hover effect === */

.global-btn:hover {
    filter: brightness(95%);
    background-color: var(--color-accent-1);
    color: var(--color-prime);
    border-color: var(--color-accent-1);
}


/* Optional: Improve readability with adjusted line heights */
/* body {
    line-height: 1.6;
} */
