:root {
    --color-prime: #FFFFFF;
    --color-prime-2: #EEEEEE;
    --color-secon: #F5DEB3;
    --color-secon-2: #008080;
    --color-accent-1: #DD761C;
    --color-accent-2: #0B5ED7;
    --color-accent-3: #0C0C0C; 
}


/* === App === */

.App {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-prime);
    color: var(--color-accent-3);
}

body {
    padding-top: 7.829rem;
}