/* === Navbar Styles === */


/* === Img === */

.logo {
  width: 6rem;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 4.5rem;
  }
    
}

.navbar {
  background-color: var(--color-prime);
  color: var(--color-accent-3);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}